<form [formGroup]='formCadastro'(ngSubmit)= "enviar()">
    <div>
       
        Nome: <input type= "text" id="nome" name = "nome" formControlName="nome">
    
    </div>
    
    
    <div>
       
        Email: <input type= "text" id="email" name = "Email" formControlName="email">
    
    </div>

    <div>
       
        Telefone: <input type= "text" id="telefone" name = "Telefone" formControlName="telefone">
    
    </div>

    <button type="submit" [disabled]="formCadastro.invalid">Enviar</button>

</form>
